<h1 class="fw-bold mt-5">WalletWise</h1>

<MudNavMenu>
    <MudNavLink Href="/register" Match="NavLinkMatch.Prefix">Register</MudNavLink>
    <MudNavLink Href="/login" Match="NavLinkMatch.Prefix">Login</MudNavLink>
    <MudNavLink Href="/debtFlowForm" Match="NavLinkMatch.Prefix">Debt Flow Form</MudNavLink>
    <MudNavLink Href="/dashboard" Match="NavLinkMatch.Prefix">Dashboard</MudNavLink>
    <MudNavLink Href="/transaction" Match="NavLinkMatch.Prefix">Transaction</MudNavLink>
    <MudNavLink Href="/cashFlowForm" Match="NavLinkMatch.Prefix">Cash Flow Form</MudNavLink>
</MudNavMenu>